.sidebar {
    height: 100vh;
    width: 300px;
    padding: 25px 20px;
    border-right: 1px solid var(--border-color-secondary);
}

.menu_link {
    display: inline-block;
    width: 100%;
    padding: 12px 30px 12px 0;
    font-size: 15px;
    color: var(--text-color);
    transition: var(--transition);
    border-bottom: 1px solid var(--border-color-secondary);
    padding-left: 20px;
    text-decoration: none;
}

.active {
    background-color: var(--accent-color);
    color: white;
}